<div class="row">
  <div class="col-sm-12">
    <hr>
    <div class="review-block">
      <div id="list_reviews">
        <%= render @reviews %>
      </div>
      <div id="list_reviews_pagy">
        <%== pagy_bootstrap_nav @pagy %>
      </div>
      <hr>
    </div>
  </div>
</div>
