<% if @tours.empty? %>
  $('#container').html('<h1><%= t ".no_tours" %></h1>');
  $('#pagy_container').html("");
<% else %>
  $('#container').html("<%= j render @tours %>");
  $('#pagy_container').html('<%== pagy_bootstrap_nav_js @pagy %>');
  Pagy.init($('#container'));
  Pagy.init($('#pagy_container'));
<% end %>
