.list_tours {
  font-size: 16px;
  font-weight: 400;
  .container {
    max-width: 1400px;
  }

  .hotel-img {
    width: 100%;
    height: auto;
  }

  .description {
    width: 100%;
    text-align: left;
    font-size: 16px;
    overflow: auto;
    line-height: 24px;
  }

  .pagy-bootstrap-nav {
    text-align: center;
  }

  .flex-container {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
  }

  svg,
  i {
    font-size: 20px;
  }
}

.form_tour{
  svg{
    font-size: 22px;
  }
}
