<section class="custom-social-proof">
  <div class="custom-notification">
    <div class="custom-notification-container">
      <div class="custom-notification-image-wrapper">
        <%= image_tag "popup_avatar.jpg" %>
      </div>
      <div class="custom-notification-content-wrapper">
        <p class="custom-notification-content">
          <span id="popup_messages_name"></span>
          <%= t ".has_just_booked" %>
          <span id="popup_messages_tour_quantity"></span>
          <span id="popup_messages_tour_name"></span>
          <small><%= t ".just_now" %></small>
        </p>
      </div>
    </div>
    <div class="custom-close"></div>
  </div>
</section>
